.timer-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 20px 0;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.timer-btn {
  padding: 0 10px;
  width: fit-content;
  height: 40px;
  margin: 0 10px;
  border-radius: 10px;
  text-align: center;
  background: white;
  border: none;
  box-shadow: 2px 3px 8px 0px rgba(34, 60, 80, 0.5);
  cursor: pointer;

}

.timer-btn:hover {
  box-shadow: inset 2px 4px 4px 0px rgba(34, 60, 80, 0.5);
  color: gray;
}

.timer-btn:focus {
  outline: none;
}
