<div class="timer-wrapper">
  <h2>
    {{hours}}:{{minutes}}:{{seconds}}
  </h2>
  <div>
    <button (click)="onStart()" class="timer-btn">
      Start/Stop
    </button>
    <button (click)="onWait()" class="timer-btn">
      Wait
    </button>
    <button (click)="onReset()" class=" timer-btn">
      Reset
    </button>
  </div>
</div>